-- 1. Find lost income date
SELECT ANIMAL_OUTS.ANIMAL_ID, ANIMAL_OUTS.NAME FROM ANIMAL_INS RIGHT OUTER JOIN ANIMAL_OUTS USING(ANIMAL_ID)
WHERE ISNULL(ANIMAL_INS.DATETIME)

-- 2. It was been before, but no exist now
SELECT ANIMAL_ID, ANIMAL_INS.NAME FROM ANIMAL_INS JOIN ANIMAL_OUTS USING(ANIMAL_ID)
WHERE ANIMAL_INS.DATETIME > ANIMAL_OUTS.DATETIME ORDER BY ANIMAL_INS.DATETIME

-- 3. Animals who was been long time (top 3)
SELECT ANIMAL_INS.NAME, ANIMAL_INS.DATETIME FROM ANIMAL_INS LEFT OUTER JOIN ANIMAL_OUTS USING(ANIMAL_ID)
WHERE ISNULL(ANIMAL_OUTS.DATETIME)  ORDER BY ANIMAL_INS.DATETIME
LIMIT 3

-- 4. Animals wha was being neutered
SELECT ANIMAL_ID, ANIMAL_TYPE, NAME FROM ANIMAL_INS JOIN ANIMAL_OUTS USING(ANIMAL_ID, ANIMAL_TYPE, NAME)
WHERE ANIMAL_INS.SEX_UPON_INTAKE LIKE 'Intact%' AND NOT ANIMAL_OUTS.SEX_UPON_OUTCOME LIKE 'Intact%'