-- 1. Select all record
SELECT * FROM ANIMAL_INS ORDER BY ANIMAL_ID

-- 2. Reverse sort
SELECT NAME, DATETIME FROM ANIMAL_INS ORDER BY ANIMAL_ID DESC

-- 3. Select sick animal
SELECT ANIMAL_ID, NAME  FROM ANIMAL_INS WHERE INTAKE_CONDITION = 'Sick'

-- 4. Select young animal
SELECT ANIMAL_ID, NAME FROM ANIMAL_INS WHERE INTAKE_CONDITION <> 'Aged' ORDER BY ANIMAL_ID

-- 5. Select ID, NAME
SELECT ANIMAL_ID, NAME FROM ANIMAL_INS ORDER BY ANIMAL_ID

-- 6. Sort by multiple condition
SELECT DISTINCT ANIMAL_ID, NAME, DATETIME FROM ANIMAL_INS ORDER BY NAME ASC, DATETIME DESC

-- 7. Select top n record
SELECT NAME FROM ANIMAL_INS WHERE DATETIME <= (SELECT MIN(DATETIME) FROM ANIMAL_INS)