-- 1. Find specific name
SELECT ANIMAL_ID, NAME, SEX_UPON_INTAKE FROM ANIMAL_INS
WHERE NAME IN ('Lucy', 'Ella', 'Pickle', 'Rogan', 'Sabrina', 'Mitty') ORDER BY ANIMAL_ID

-- 2. Find name contains 'el'
SELECT ANIMAL_ID, NAME FROM ANIMAL_INS
WHERE ANIMAL_TYPE = 'Dog' AND (NAME LIKE '%EL%' OR NAME LIKE '%El%' OR NAME LIKE '%eL%' OR NAME LIKE '%el%')
ORDER BY NAME

-- 3. Check neutered
SELECT ANIMAL_ID, NAME, IF(SEX_UPON_INTAKE LIKE 'Neutered%' OR SEX_UPON_INTAKE LIKE 'Spayed%', 'O', 'X') AS 중성화
FROM ANIMAL_INS ORDER BY ANIMAL_ID

-- 4. Animals who was been long time (2)
SELECT ANIMAL_ID, NAME FROM ANIMAL_INS JOIN ANIMAL_OUTS USING(ANIMAL_ID, NAME)
ORDER BY (ANIMAL_OUTS.DATETIME - ANIMAL_INS.DATETIME) DESC
LIMIT 2

-- 5. Change data type (Datetime -> Date)
SELECT ANIMAL_ID, NAME, date_format(DATETIME, '%Y-%m-%d') AS '날짜' FROM ANIMAL_INS
ORDER BY ANIMAL_ID