-- 1. Select recent ins (max date)
SELECT DATETIME AS '시간' FROM ANIMAL_INS WHERE DATETIME >= (SELECT MAX(DATETIME) FROM ANIMAL_INS)

-- 2. Select earliest ins (min date)
SELECT DATETIME AS '시간' FROM ANIMAL_INS WHERE DATETIME <= (SELECT MIN(DATETIME) FROM ANIMAL_INS)

-- 3. Count animals
SELECT COUNT(ANIMAL_ID) AS COUNT FROM ANIMAL_INS

-- 4. Eliminate duplication
SELECT COUNT(DISTINCT NAME) FROM ANIMAL_INS